.filter-sort-container {
  background-color: #efefef;
  padding: 10px;
}

.filter-sort-container > div {
  display: inline-block;
  padding-right: 10px;
}

.filter-sort-container .button {
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

/* categorys and assets take same basic sizing, width, etc. */
.gredidam-asset-browser .form-item.form-type-checkbox,
.gredidam-asset-browser .form-item.js-form-type-checkbox,
.gredidam-browser-category-link {
  width: 170px;
  display: inline-block;
  margin: 5px;
  min-height: 180px;
  padding: 5px;
  vertical-align: top;
}

.gredidam-asset-browser .form-item.form-type-checkbox,
.gredidam-asset-browser .form-item.js-form-type-checkbox {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  vertical-align: top;
}

.gredidam-asset-browser .js-form-type-checkbox .form-checkbox {
  float: initial;
  margin-left: initial;
  transform: initial;
}

.gredidam-asset-checkbox {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
  margin-right: 4px;
}

.gredidam-asset-thumb {
  height: 140px;
  overflow: hidden;
}

.gredidam-asset-thumb img {
  width: 100%;
}

.gredidam-asset-details {
  width: 100%;
  word-break: break-word;
}

p.gredidam-asset-filename {
  width: 80%;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 5px;
  font-size: .85em;
  line-height: 1.1em;
}

img.gredidam-asset-browser-icon {
  height: 20px;
  float: right;
  margin: 5px;
}

.gredidam-browser-category-link {
  background-position: top center;
  background-size: 90% auto;
  background-repeat: no-repeat;
}

/* Unset values here to set below. */
.gredidam-browser-category-link .button,
.gredidam-browser-category-link .button:hover,
.gredidam-browser-category-link .button:active,
.gredidam-browser-category-link .button:focus {
  background: none;
  border: 0;
  box-shadow: none;
}

.gredidam-browser-category-link .gredidam-category-link-button,
.gredidam-browser-category-link .gredidam-category-link-button:hover,
.gredidam-browser-category-link .gredidam-category-link-button:active,
.gredidam-browser-category-link .gredidam-category-link-button:focus {
  width: 150px;
  height: 80px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 50px 0 15px 15px !important;
}

.gredidam-browser-category-link .gredidam-category-link-button:active,
.gredidam-browser-category-link .gredidam-category-link-button:focus {
  background-color: transparent;
}

.gredidam-browser-category-link input,
.gredidam-browser-category-link input:hover,
.gredidam-browser-category-link input:active,
.gredidam-browser-category-link input:focus {
  color: transparent;
  text-shadow: none;
}

.gredidam-category-link-thumb {
  position: relative;
  display: inline-block;
  z-index: 10;
  top: 85px;
  left: 65px;
  height: 0;
}

.gredidam-category-link-thumb img {
  max-height: 40px;
  max-width: 40px;
}

.gredidam-browser-category-link p {
  position: relative;
  bottom: 0;
  font-size: .9em;
  padding: 0 0 0 10px;
}

input[type="checkbox"] {
  position: relative;
  top: 10px;
  left: 5px;
  box-shadow: 0 0 4px 1px #82b4ff;
}

.gredidam-browser-empty {
  height: 80px;
  width: 100%;
  background-color: #efefef;
  font-size: 1.4em;
  text-align: center;
  padding-top: 60px;
}

/* Start breadcrumb styles */
.gredidam-browser-breadcrumb-container {
  margin: 5px;
}

.gredidam-browser-breadcrumb-container li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gredidam-browser-breadcrumb-container li:not(:first-child):before {
  content: " \BB ";
}

input.gredidam-browser-breadcrumb {
  background: transparent;
  border: none;
  margin: 5px 0;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: normal;
  text-decoration: none;
  color: #0074bd;
}

input.gredidam-browser-breadcrumb:hover,
input.gredidam-browser-breadcrumb:focus {
  background: none;
  box-shadow: none;
  border: none;
  font-weight: normal;
  text-decoration: underline;
  color: #0074bd;
}

/* Override default */
.breadcrumb.gredidam-browser-breadcrumb-container {
  padding-top: 0;
  padding-bottom: 0;
}

/* end breadcrumb styles */

.gredidam-asset-browser-pager {
  text-align: center;
  position: relative;
  height: 30px;
  display: inline-block;
  float: right;
  padding-right: 10px;
}

/* Unset default style to control below. */
.gredidam-asset-browser-pager .button,
.gredidam-asset-browser-pager .button:hover,
.gredidam-asset-browser-pager .button:active,
.gredidam-asset-browser-pager .button:focus {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

.gredidam-asset-browser-pager .button,
.gredidam-asset-browser-pager .button:hover,
.gredidam-asset-browser-pager .button:active,
.gredidam-asset-browser-pager .button:focus {
  color: blue;
  text-decoration: underline;
  border-left: 2px solid #999;
  margin-left: 5px;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 0;
}

.gredidam-asset-browser-pager .button:first-child,
.gredidam-asset-browser-pager .button:last-child {
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 0;
}

.gredidam-asset-browser-pager .button:first-child {
  border-left: none;
}

.gredidam-asset-browser-pager .page-current {
  color: black;
  text-decoration: none;
}

/* Height is important to make sticky footer appear. Assuming window height is > 600px. */
.entity-browser-media-browser-form {
  overflow: hidden;
}

#edit-asset-container {
  overflow-y: scroll;
}

#edit-actions {
  width: 100%;
  border-top: 1px solid #efefef;
  padding: 15px 5px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.asset-browser-message {
  background-color: #efefef;
  border: solid 1px #333;
  padding: 25px;
  color: #222;
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
}

/**
 * This is gross, but it works.
 */
.ui-dialog {
  width: 97% !important;
  left: 15px !important;
}


.form-boolean-group .form-type--boolean {
  margin-top: unset !important;
  margin-left: 0.2575rem !important;
  left: 4px !important;
}

.form-type--boolean .form-boolean {
  top: 0.37rem !important;
}

.alert+.alert, .nav+.nav, .navbar+.navbar,
.progress+.btn, .progress+.progress {
  margin-top: 1rem;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-top: 10px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
